.carousel {
  width: 600px;
}
.carousel .carousel-img {
  height: 200px;
  position: absolute;
  transition: all 1s ease-in-out;
}
.carousel .carousel-main {
  height: 200px;
  margin: 0 auto 2px auto;
  overflow: hidden;
  position: relative;
  width: 600px;
}
.carousel .carousel-thumb {
  height: 73px;
  vertical-align: top;
}
.carousel .left-arrow,
.carousel .right-arrow {
  vertical-align: 42px;
}
.carousel .thumb-batch {
  position: absolute;
  transition: all 1s ease-in-out;
}
.carousel .thumb-batch > div {
  height: 73px;
  margin: 6px;
  overflow: hidden;
  width: 88px;
}
.carousel .thumbs {
  background-color: #a6adb6;
  text-align: center;
}
.carousel .thumbs div {
  display: inline-block;
}
.carousel .thumbs-inner {
  height: 90px;
  overflow: hidden;
  position: relative;
  width: 500px;
}
.carousel .thumbs-inner img {
  border-top: solid transparent 3px;
  height: 100%;
}
.carousel .thumbs-inner img.current-image {
  border-top: solid blue 3px;
}
