body {
  font-family: sans-serif;
}

table, th, td {
  border: solid black 1px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px;
}

table > caption {
  font-weight: bold;
  margin-top: 20px;
}

table th {
  background-color: linen;
}
