body {
  padding-left: 10px;
}

ul.unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.todo-text {
  width: 200px;
}

.done-true {
  text-decoration: line-through;
  color: gray;
}
