<!DOCTYPE html>
<html ng-app="Todo">
  <head>
    <link rel="stylesheet" href="todo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="todo.js"></script>
  </head>
  <body>
    <h2>To Do List</h2>
    <div ng-controller="TodoCtrl">
      <div>
        {{getUncompletedCount()}} of {{todos.length}} remaining
        <button ng-click="archiveCompleted()">Archive Completed</button>
      </div>
      <br>

      <!-- Wrapping this in a form causes the button to be activated
        when the input has focus and the return key is pressed. -->
      <form name="todoForm">
        <input type="text" ng-model="todoText" size="30"
          placeholder="enter new todo here" required>
        <button ng-click="addTodo()" ng-disabled="todoForm.$invalid">Add</button>
      </form>

      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
          <button ng-click="deleteTodo(todo)">Delete</button>
        </li>
      </ul>
    </div>
  </body>
</html>
